.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 0.875rem 2rem;
  max-width: 40.625rem;
  min-width: 22.5rem;
}

.greeting {
  padding-bottom: 0.5rem;
  align-self: center;
}

.registration_image {
  align-self: center;
}

.register_image {
  width: 300px;
}

.formControl {
  display: flex;
  flex-direction: column;
}

.inputRoot {
  display: flex;
  flex-direction: column;
  margin: 0.625rem 0 0 0;
}

.label {
  display: flex;
  text-align: left;
  margin-bottom: 0.375rem;
  padding-left: 0.625rem;
}

.input {
  /*flex: 1;*/
  background-color: whitesmoke;
  border: 1px solid rgba(19, 21, 50, .1);
  border-radius: 44px;
  height: 1.875rem;
  padding-left: 0.625rem;
}

.formControl .helperText {
  padding: 0 1rem;
}

.helperText {
  padding: 0 1rem;
}

.create_button {
  margin-top: 1.5rem;
}

.sign_in_container {
  display: flex;
  align-self: flex-end;
  padding: 0.75rem 0 0 0;
}

.sign_in_question {
  padding: 0 0.125rem;
}

.sign_in_button {
  color: #3f609a;
  padding: 0 0.125rem;
}

.sign_in_button:hover {
  color: #344955;
}

button:focus-visible, a:focus-visible, input:focus-visible {
  outline: 3px solid #4e776e;
}